html,
.purple_container {
  background-color: purple;
  width: 100%;
  height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.avatar_photo{
  width: 80px;
  position: absolute; 
  border-radius: 50%;
  padding: 2.5px;
  background: #fff;
  right: 60px;
  margin-top: 80px
}

.setting_icon{
 width: 30px;
 position: absolute; 
 right: 60px;
 margin-top: 25px
}

.search_icon{
  width: 50px;
  position: absolute; 
  left: 30px;
  margin-top: 20px
}
.purple_container h2{
  color: #fff;
  width: 50px;
  position: absolute; 
  left: 30px;
  margin-top: 90px;
}

.purple_container h4{
  color: #fff;
  width: 130px;
  position: absolute; 
  left: 30px;
  margin-top: 130px;
}

.text_cover{
  background-color: rgba(180, 223, 37, 0);
  width: 100%;
  height: 30px;
  border-style: solid;
  border-color:rgb(255, 255, 255) ;
  border-width: 1px;
  border-radius: 10px;
  padding:10px
}

.white_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  background-color:#fff;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: -30px;
}

.field_group{
  position:absolute;
  width: 130px;
}

.input_field{
  width: 300px;
  height: 40px;
  border: 2px solid #9999;
  border-radius: 4px;
  padding: 10px;
  background-color: #e1d8d8;
  margin-bottom: 460px;
}




